/** {*/
/*outline: 1px solid red;*/
/*}*/

body {
    font-size: 0px;
}

header {
    background-color: #717171;
}

.menu {
    margin: auto;
    text-align: center;
}

.menu__item {
    font-size: 18px;
    display: inline-block;
    width: 150px;
    height: 40px;
}

.menu__item a {
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}
.menu__item a:hover {
    background-color: #555555;
    outline: 1px solid #ffffff;
}
