/*GLOBAL RULES*/

/*
* {
outline: 1px solid red;
}
*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Playfair Display", non-serif;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.25);
}

header {
    background-color: #2f4a71;
    text-align: center;
}

h2 {
    text-align: center;
}

.menu-nav {
    margin: auto;
    padding-top: 1px;
    padding-left: 0px;
    text-align: center;
    width: auto;
    height: auto;
}

.menu-nav li {
    font-size: 18px;
    display: inline-block;
}

.menu-nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #7199ff;
}

.menu-nav a:hover {
    background-color: #1d2055;
    outline: 1px solid #7e9eff;
}

/*FIRST TASK*/

.wrapper-task1 {
    box-sizing: border-box;
    background-color: rgba(80, 80, 80, 0.33);
    margin: auto;
    padding: 20px;
    min-width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.header {
    min-width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #ffff00;
}

.main {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin-bottom: 20px;
}

.content-box {
    min-width: 54.166%;
    background-color: #01aef0;
    height: 400px;
}

.left-box {
    min-width: 20.833%;
    background-color: #a8a9ad;
    height: 400px;
}

.side-box {
    min-width: 20.833%;
    background-color: #f25a29;
    height: 400px;
}

.footer {
    min-width: 100%;
    height: 40px;
    background-color: #00a851;
}

/*SECOND TASK*/

.wrapper-task2 {
    background-color: rgba(80, 80, 80, 0.33);
    margin: auto;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.36);
    min-width: 320px;
    padding: 20px;
}

.content,
.sidebar {
    box-sizing: border-box;
    height: 100px;
    padding-top: 45px;
    text-align: center;
}

div > p {
    margin: 0 auto;
}

.content {
    background-color: #fbf281;
}

.sidebar {
    background-color: #b8e986;
}

.adaptive-container,
.adaptive-container > .content,
.adaptive-container > .sidebar {
    width: 278px;
}

.adaptive-container {
    margin: auto;
}

/*
.relative-container,
.adaptive-container {
    display: flex;
    flex-wrap: wrap;
}

.relative-container > .content,
.relative-container > .sidebar { min-width: 100%}
*/

/*THIRD TASK*/

.wrapper-task3 {
    background-color: rgba(80, 80, 80, 0.33);
    margin: auto;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.36);
    min-width: 320px;
    padding: 20px;
}

.wrapper-box {
    background-color: #dedede;
    box-sizing: border-box;
    padding: 10px;
    min-width: 278px;
    margin: auto;
}

.red {
    height: 100px;
    background-color: #f95e40;
}

.green {
    height: 80px;
    background-color: #00a672;
}

.blue {
    height: 40px;
    background-color: #2f97de;
}

/*FOURTH TASK*/

.adaptive-img {
    padding: 20px;
    background-color: rgba(80, 80, 80, 0.33);
    border: 1px solid rgba(0, 0, 0, 0.36);
}

img {
    max-width: 100%;
    height: auto;
}

/*HOME BUTTONS*/

.back-button,
.cpen-button {
    text-decoration: none;
    color: #b0b8b9;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #555555;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 60px;
    transition: right 0.5s, bottom 0.7s;
}

.cpen-button:hover {
    background-color: #717171;
    color: #ffffff;
}

.back-button {
    z-index: 1;
}

.back-button:hover {
    background-color: #717171;
    color: #ffffff;
}

.back-button:hover + .cpen-button,
.cpen-button:hover {
    transition: right 0.3s, bottom 0.3s;
    right: 95px;
    bottom: 30px;
}

/*MEDIA*/

@media screen and (min-width: 768px) {

    /*TASK 2*/
    .relative-container,
    .adaptive-container {display: flex;}
    .relative-container > .content {min-width: 75%;}
    .relative-container > .sidebar {min-width: 25%;}
    .adaptive-container {width: 768px;  }
    .adaptive-container > .content {width: 576px;}
    .adaptive-container > .sidebar {width: 192px;}

    /*TASK 3*/
    .wrapper-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wrapper-box {
        width: 768px;
    }

    .red {
        width: 748px;
        margin-bottom: 10px;
    }

    .green {
        width: 318px;
        height: 150px;
    }

    .blue {
        width: 420px;
        height: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 833px) {

    /*TASK 2*/
    .adaptive-container {width: 100%;}
    .adaptive-container > .content {width: 75%;}
    .adaptive-container > .sidebar {width: 25%;}

    /*TASK 3*/
    .wrapper-box,
    .red {width: 100%;}
    .green {width: 42%;}
    .blue {width: 56.7%;}
}
