/*FONTS*/

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
    url('../fonts/kaushan-script-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/kaushan-script-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'),
    url('../fonts/pt-serif-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/pt-serif-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
    url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*GLOBAL RULES*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Montserrat";
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header {
    width: 940px;
    margin: 40px auto 80px;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
}

.menu-nav__list {
    display: flex;
    justify-content: space-between;
    width: 490px;
}

.menu-nav__list a {
    text-decoration: none;
    font-size: 14px;
    line-height: 41px;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-nav__list li:hover a {
    color: #fdd135;
}

.site-logo {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #fdd135;
    font-family: "Kaushan Script";
    text-decoration: none;
}

/*SERVICES*/

.services > h2 {
    margin: 0 auto;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 75px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
}

.services > p {
    margin: 0 auto 60px;
    font-size: 16px;
    color: #777777;
    font-family: "PT Serif";
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.services-list {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto 120px;
}

.services-list li {
    width: 290px;
}

.services-list li::before {
    content: '';
    display: block;
    width: 66px;
    height: 66px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #fdd135;
    background: center no-repeat;
}

.services-list li:nth-child(1)::before {
    background-image: url("../img/icons/icon-basket.png")
}

.services-list li:nth-child(2)::before {
    background-image: url("../img/icons/icon-laptop.png")
}

.services-list li:nth-child(3)::before {
    background-image: url("../img/icons/icon-locked.png")
}

.services-list h3 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 75px;
    color: #222222;
    text-align: center;
}

.services-list p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
}

/*CONTACT US*/

.contact-us {
    padding: 100px 0 120px;
    background: center no-repeat #202020 url("../img/background.jpg");
}

.contact-us > h2 {
    margin: 0 auto 25px;
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    text-align: center;
}

.contact-us > p {
    margin: 0 auto 75px;
    font-size: 16px;
    color: #777777;
    font-family: "PT Serif";
    font-style: italic;
    text-align: center;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
}

.contact-form__input {
    display: flex;
    flex-direction: column;
}

.contact-form__input input,
.contact-form textarea {
    box-sizing: border-box;
    width: 455px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    padding-left: 20px;
    font-weight: bold;
}

.contact-form *::placeholder {
    text-transform: uppercase;
}

.contact-form__input input {
    height: 50px;
    margin-bottom: 29px;
}

.contact-form textarea {
    height: 208px;
    padding-top: 20px;
    resize: none;
}

.contact-form button {
    width: 240px;
    height: 65px;
    margin: 0 auto;
    border-style: none;
    border-radius: 3px;
    background-color: #fdd135;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.contact-form *:required:valid {
    outline: 2px solid #008000;
}

.contact-form *:required:invalid {
    outline: 1px solid #ff0000;
}

/*FOOTER*/

/*BACK HOME*/

.back-button,
.task-button {
    text-decoration: none;
    color: #b0b8b9;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #555555;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    text-align: center;
    line-height: 60px;
    transition: right 0.5s, bottom 0.7s;
}

.task-button:hover {
    background-color: #717171;
    color: #ffffff;
}

.back-button {
    z-index: 1;
}

.task-button {
}

.back-button:hover {
    background-color: #717171;
    color: #ffffff;
}

.back-button:hover + .task-button,
.task-button:hover {
    transition: right 0.3s, bottom 0.3s;
    right: 95px;
    bottom: 30px;
}