/*GLOBAL RULES*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position:    absolute;
	width:       1px;
	height:      1px;
	margin:      -1px;
	border:      0;
	padding:     0;
	white-space: nowrap;
	clip-path:   inset(100%);
	clip:        rect(0 0 0 0);
	overflow:    hidden;
}

.clearfix::after {
	content: "";
	display: table;
	clear:   both;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

main {
	background-color: #e9f0fd;
	padding-bottom:   100px;
}

ul {
	margin:     0;
	padding:    0;
	list-style: none;
}

/*HEADER*/

header {
	box-sizing: border-box;
	margin:     0 auto;
	padding:    30px 0;
	max-width:  1125px;
	height:     91px;
}

.site-logo {
	display:         inline-block;
	margin-right:    40px;
	text-decoration: none;
	color:           #626262;
	font-size:       30px;
	line-height:     32px;
	text-transform:  uppercase;
}

.site-logo::first-letter {
	color: #1abc9c;
}

.menu-nav__list {
	float:       right;
	margin-top:  4px;
	font-family: "Open Sans";
	font-weight: 700;
}

.menu-nav__list li {
	float: right;
}

.menu-nav__list li:not(:first-of-type) {
	margin-right: 40px;
}

.menu-nav__list a {
	font-size:       14px;
	line-height:     14px;
	color:           rgb(0, 0, 0);
	font-family:     "Open Sans";
	font-weight:     bold;
	text-transform:  uppercase;
	text-decoration: none;
}

.menu-nav__list li:hover > a {
	color:  #1abc9c;
	cursor: pointer;
}

/*SLIDER*/

.slider {
	position:      relative;
	width:         100%;
	height:        600px;
	margin-bottom: 100px;
}

.wrapper-ctrl {
	position:  absolute;
	left:      50%;
	transform: translateX(-50%);
	width:     1125px;
	height:    600px;
	z-index:   1;
}

.slider-ctrl {
	position:   absolute;
	top:        225px;
	z-index:    1;
	border:     none;
	width:      104px;
	height:     104px;
	cursor:     pointer;
	background: rgba(77, 197, 171, 0.65);
}

.slider-ctrl_prev {
	left: 0;
}

.slider-ctrl_next {
	right: 0;
}

.slider-ctrl span {
	position:  absolute;
	top:       50%;
	left:      50%;
	transform: translate(-50%, -50%);
	display:   inline-block;
	width:     22px;
	height:    38px;
	font-size: 0;
}

.slider-ctrl_prev span {
	background: url("../img/icons/left.png");
}

.slider-ctrl_next span {
	background: url("../img/icons/right.png");
}

.slider-ctrl:hover {
	background: rgb(77, 197, 171);
}

.slides-item {
	position: relative;
}

.slides-image {
	width:      100%;
	height:     600px;
	object-fit: cover;
}

.slides-descr {
	position:       absolute;
	top:            50%;
	left:           50%;
	transform:      translate(-50%, -50%);
	z-index:        2;
	margin:         0;
	width:          800px;
	text-align:     left;
	vertical-align: middle;
	color:          #ffffff;
	font-weight:    300;
	font-size:      24px;
	line-height:    54px;
}

.slides-descr::first-line {
	font-size:   60px;
	font-weight: 900;
	line-height: 82px;
}

.slider::after {
	content:          '';
	position:         absolute;
	top:              0;
	width:            100%;
	height:           100%;
	background-color: rgba(0, 0, 1, 0.53);
}

/*PRODUCT SECTION*/

.product-section {
	margin: auto;
	width:  1112px;
}

.product-section h2 {
	color:          rgb(81, 81, 81);
	text-align:     center;
	margin:         100px 0 100px;
	font-size:      48px;
	line-height:    48px;
	text-transform: uppercase;
}

.product-section h2::after {
	content:          '';
	display:          block;
	margin:           30px auto 0;
	width:            164px;
	height:           7px;
	background-color: #19bb9b;
}

.products-list-item {
	position:  relative;
	float:     left;
	font-size: 0;
}

.products-list-item:not(:nth-child(4)) {
	margin-right: 30px;
}

.item-name {
	margin:           0;
	padding-left:     20px;
	box-sizing:       border-box;
	width:            255px;
	height:           40px;
	background-color: #323232;
	font-size:        18px;
	line-height:      40px;
	color:            rgb(255, 255, 255);
	text-transform:   uppercase;
}

.item-name span {
	display:          inline-block;
	float:            right;
	width:            54px;
	height:           40px;
	background-color: #8c8c8c;
	font-size:        18px;
	line-height:      40px;
	color:            rgb(255, 255, 255);
	text-align:       center;
}

.products-list-item:hover .item-name {
	background-color: #1abc9c;
}

.products-list-item:hover .item-name span {
	background-color: #7fd9c7;
}

.products-list-item:hover .overlay {
	opacity: 1;
}

/*OVERLAY*/

.overlay {
	background-clip:  content-box;
	position:         absolute;
	top:              0;
	left:             0;
	box-sizing:       border-box;
	opacity:          0;
	width:            255px;
	height:           283px;
	background-color: rgba(0, 0, 0, 0.55);
	border:           10px solid rgba(255, 255, 255, 0.55);
}

.item-ctrl-list {
	margin:     0;
	padding:    80px 0 0 35px;
	list-style: none;
}

.item-ctrl {
	float:         left;
	margin-bottom: 8px;
}

.item-ctrl:not(:nth-child(3)) {
	margin-right: 8px;
}

.item-ctrl button {
	display:          inline-block;
	padding:          12px 12px;
	width:            50px;
	height:           50px;
	font-size:        0;
	background-color: transparent;
	border:           1px solid #ffffff;
	cursor:           pointer;
}

.item-ctrl button::before {
	display:        block;
	content:        '';
	/*    width: 24px;
			height: 23px;*/
	margin:         0;
	vertical-align: middle;
	background:     center, no-repeat;
}

.item-ctrl:nth-child(1) button::before {
	width:            26px;
	height:           23px;
	background-image: url("../img/icons/heart.png");
}

.item-ctrl:nth-child(2) button::before {
	width:            26px;
	height:           22px;
	background-image: url("../img/icons/arrows.png");
}

.item-ctrl:nth-child(3) button::before {
	width:            24px;
	height:           25px;
	background-image: url("../img/icons/clock.png");
}

.item-cart::before {
	display:          inline-block;
	content:          '';
	width:            28px;
	height:           27px;
	margin-right:     10px;
	background-image: url("../img/icons/cart.png");
	vertical-align:   middle;
}

.item-cart {
	margin-left:      35px;
	padding:          10px 0;
	width:            166px;
	font-size:        14px;
	line-height:      32px;
	border:           1px solid #ffffff;
	color:            #ffffff;
	background-color: transparent;
	text-align:       center;
	text-transform:   uppercase;
	cursor:           pointer;
	font-family:      "Open Sans";
	font-weight:      400;
}

.item-ctrl button:hover {
	background-color: #1abc9c;
	border-color:     #1abc9c;
}

.item-cart:hover {
	background-color: #323232;
}

/*FOOTER*/

footer {
	width:            auto;
	height:           88px;
	padding-top:      55px;
	background-color: #313131;
	text-align:       center;
	font-family:      "Open Sans";
	font-weight:      400;
}

footer p {
	margin:      0;
	font-size:   16px;
	line-height: 28px;
	color:       #fefefe;
}

footer a {
	text-decoration: none;
	color:           #46bfa9;
}

/*BACK HOME*/

.back-button,
.task-button {
	text-decoration:  none;
	color:            #b0b8b9;
	position:         fixed;
	bottom:           50px;
	right:            50px;
	width:            60px;
	height:           60px;
	border-radius:    50%;
	background-color: #555555;
	box-shadow:       0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
	text-align:       center;
	line-height:      60px;
	transition:       right 0.5s, bottom 0.7s;
}

.task-button:hover {
	background-color: #717171;
	color:            #ffffff;
}

.back-button {
	z-index: 1;
}

.task-button {
}

.back-button:hover {
	background-color: #717171;
	color:            #ffffff;
}

.back-button:hover + .task-button,
.task-button:hover {
	transition: right 0.3s, bottom 0.3s;
	right:      95px;
	bottom:     30px;
}