
/*Global rules*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

main {
    background-color: #e9f0fd;
    padding-bottom: 100px;
}

/*HEADER*/


header {
    margin: 0 auto;
    max-width: 1125px;
    height: 91px;
}

.site-logo {
    margin-right: 40px;
    float: left;
    text-decoration: none;
    color: #626262;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
}

.site-logo::first-letter {
    color: #1abc9c;
}

.menu-nav__list {
}

.menu-nav__list li {
    display: inline-block;
    float: right;
    list-style: none;
    font-size: 14px;
    line-height: 14px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.menu-nav__list li:not(:first-of-type) {
    margin-right: 40px;
}

.menu-nav__list li:hover {
    color: #1abc9c;
    cursor: pointer;
}

/*SLIDER*/



/*PRODUCTS*/

.wrapper-items {
    margin: auto;
    width: 1112px;
}

.wrapper-items h2 {
    color: rgb(81,81,81);
    text-align: center;
    margin: 100px 0 100px;
    letter-spacing: -1px;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.wrapper-items h2::after {
    content: '';
    display: block;
    margin: 30px auto 0;
    width: 164px;
    height: 7px;
    background-color: #19bb9b;
}

.item-list {
    margin: 0;
    padding: 0;
}

.item-list_elem {
    position: relative;
    float: left;
    list-style: none;
    width: 255px;
    height: 322px;
    background-color: #e9effd;
    margin-bottom: 30px;
}

.item-list_elem:not(:nth-child(4n)) {
    margin-right: 30px;
}

.item-list a {
    text-decoration: none;
}

.item-list p {
    margin: 0;
    padding-left: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 255px;
    height: 40px;
    background-color: #323232;
    font-size: 18px;
    line-height: 40px;
    color: rgb(255,255,255);
    text-transform: uppercase;
}

.item-interact {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    opacity: 0;
    width: 255px;
    height: 282px;
    background-color: #000000;
    border: 10px solid #ffffff;
}

.item-interact ul {
    margin: 0;
    padding: 80px 0 0 35px;
    list-style: none;
}

.item-interact li {
    display: inline-block;
    margin-bottom: 8px;
}

.item-interact li:nth-child(-n + 2) {
    margin-right: 4px;
}

.item-interact button {
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.item-interact button::before {
    display: inline-block;
    content: '';
    background: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.item-interact li:nth-child(1) > button::before {
    width: 26px;
    height: 23px;
    background-image: url("../img/heart.png");
}

.item-interact li:nth-child(2) > button::before {
    width: 26px;
    height: 22px;
    background-image: url("../img/arrows.png");
}

.item-interact li:nth-child(3) > button::before {
    width: 24px;
    height: 25px;
    background-image: url("../img/clock.png");
}

button.cart::before {
    margin-right: 20px;
    width: 28px;
    height: 27px;
    background-image: url("../img/cart.png");
}

.item-interact button:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
    cursor: pointer;
}

button.cart {
    display: block;
    text-align: center;
    margin: auto;
    width: 166px;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
}

button.cart:hover {
    background-color: #323232;
    border: 1px solid #ffffff;
}

.item-list_elem:hover .item-interact {
background-color: rgba(0, 0, 0, 0.55);
opacity: 1;
}

.item-list_elem:hover p {
    background-color: #1abc9c;
}

.item-list span {
    display: inline-block;
    float: right;
    width: 54px;
    height: 40px;
    background-color: #8c8c8c;
    font-size: 18px;
    line-height: 40px;
    color: rgb(255,255,255);
    text-align: center;
}

.item-list_elem:hover span {
    background-color: #7fd9c7;
}

/*FOOTER*/

footer {
    width: auto;
    height: 88px;
    background-color: #313131;
}

footer > p{
    margin: 0;
}

/*HOME*/

.back-button {
    text-decoration: none;
    color: #b0b8b9;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #555555;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    text-align: center;
    line-height: 60px;
}

.back-button:hover {
    background-color: #717171;
    color: #ffffff;
}