/*GLOBAL RULES*/

/*
* {
outline: 1px solid red;
}
*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Playfair Display", non-serif;
    font-size: 16px;
    background-color: rgba(0,0,0,0.25);
}

header {
    background-color: #2f4a71;
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    box-sizing: border-box;
    margin: 20px auto;
    width: 441px;
    height: 241px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    background-color: rgba(80, 80, 80, 0.33);
}

.menu-nav {
    margin: auto;
    padding-top: 1px;
    padding-left: 0px;
    text-align: center;
    width: auto;
    height: auto;
}

.menu-nav li {
    font-size: 18px;
    display: inline-block;
}

.menu-nav a,
.header a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #7199ff;
}
.menu-nav a:hover,
.header a:hover {
    background-color: #1d2055;
    outline: 1px solid #7e9eff;
}

/*FIRST TASK*/

/*SECOND TASK*/

.retina-back {
    width: 400px;
    height: 200px;
    background: rgba(80, 80, 80, 0.33) url("https://placeimg.com/400/200/tech") no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .retina-back {
        background: url("https://placeimg.com/800/400/tech") no-repeat;
    }
}

/*THIRD TASK*/

.header {
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
    height: 200px;
}

/*HOME BUTTONS*/


.back-button,
.cpen-button {
    text-decoration: none;
    color: #b0b8b9;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #555555;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    text-align: center;
    line-height: 60px;
    transition: right 0.5s, bottom 0.7s;
}

.cpen-button:hover {
    background-color: #717171;
    color: #ffffff;
}

.back-button {
    z-index: 1;
}

.back-button:hover {
    background-color: #717171;
    color: #ffffff;
}

.back-button:hover + .cpen-button,
.cpen-button:hover {
    transition: right 0.3s, bottom 0.3s;
    right: 95px;
    bottom: 30px;
}
