.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding: 30px 100px;
}

.menu-nav {
}

.site-logo {
    margin-right: 40px;
    float: left;
    text-decoration: none;
    color: #626262;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
}

.site-logo::first-letter {
    color: #1abc9c;
}

.menu-nav__list {
    padding: 9px;
}

.menu-nav__list li {
    float: right;
    list-style: none;
    font-size: 14px;
    line-height: 14px;
    color: #0f0101;
    text-transform: uppercase;
}

.menu-nav__list li:not(:first-of-type) {
    margin-right: 40px;
}

.menu-nav__list li:hover {
    color: #1abc9c;
}

.item-list li {
    float: left;
}